<!DOCTYPE html>
<html>
  <head>
    <title>StockFlow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script tyoe="text/javascript">
      window.loginImage = "<%= image_url("login_image.png") %>"
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
