<!DOCTYPE html>
<html>
  <head>
    <title>StockFlow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.loginImage = "<%= image_url("login_image.png") %>"
      window.homePageGif = "<%= image_url("home_page_gif.gif") %>"
      window.rocketKitty = "<%= image_url("rocket_kitty.png") %>"
      window.stockGraph = "<%= image_url("stock_options.png") %>"
      window.etfs = "<%= image_url("etfs.png") %>"
      window.stockOptions = "<%= image_url("stock_options.png") %>"
      window.cryptoCurr = "<%= image_url("crypto.png") %>"
      window.singlePhone = "<%= image_url("single_phone_pic.png") %>"
      window.darkMultiPhone = "<%= image_url("dark_multi_phone.png") %>"
      window.browsingPhone = "<%= image_url("browsing_phone.png") %>"
      window.eagleLogo = "<%= image_url("eagle_logo.png") %>"
      window.stockflowLogo = "<%= image_url("stock_flow_logo.png") %>"
      window.stockflowDarkLogo = "<%= image_url("stock_flow_dark_logo.png") %>"
      window.signupGIF = "<%= image_url("signup_gif.gif") %>"
      window.warningIcon = "<%= image_url("warning.png") %>"
      window.iexAPIKey = "<%= Rails.application.credentials.iex[:api_key] %>"
      window.alphaVantageAPIKey = "<%= Rails.application.credentials.alphavantage[:api_key] %>"
      window.newsAPIKey = "<%= Rails.application.credentials.news[:api_key] %>"
    </script>

    
    <%= favicon_link_tag asset_path('stock_flow_icon.png') %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
