<!DOCTYPE html>
<html>
  <head>
    <title>StockFlow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script tyoe="text/javascript">
      window.loginImage = "<%= image_url("login_image.png") %>"
      window.homePagePhone = "<%= image_url("home_page_phone_pic.png") %>"
      window.rocketKitty = "<%= image_url("rocket_kitty.png") %>"
      window.stockGraph = "<%= image_url("stock_options.png") %>"
      window.etfs = "<%= image_url("etfs.png") %>"
      window.stockOptions = "<%= image_url("stock_options.png") %>"
      window.cryptoCurr = "<%= image_url("crypto.png") %>"
      window.singlePhone = "<%= image_url("single_phone_pic.png") %>"
      window.darkMultiPhone = "<%= image_url("dark_multi_phone.png") %>"
      window.browsingPhone = "<%= image_url("browsing_phone.png") %>"
      window.eagleLogo = "<%= image_url("eagle_logo.png") %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Display:400,500,600,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
